@{
	ViewBag.PageTitle = "Dashboard";
}
@section CSS{
<link rel="stylesheet" href="~/CSS/stackCard.css" asp-append-version="true">
}
<div class="text-center">
	<div class="cardContainer">
		<div class="closeBtn">
			<i class="fa-regular fa-circle-xmark fs-large"></i>
		</div>
		<div class="card" style="--x: -2; --y: -2; --o: 10">
			<div class="content" style="--j: 1">
				<h2>Card 01</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: -1; --y: -2; --o: 9">
			<div class="content" style="--j: 2">
				<h2>Card 02</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 0; --y: -2; --o: 8">
			<div class="content" style="--j: 3">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 1; --y: -2; --o: 7">
			<div class="content" style="--j: 4">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 2; --y: -2; --o: 6">
			<div class="content" style="--j: 5">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: -2; --y: 0; --o: 5">
			<div class="content" style="--j: 6">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: -1; --y: 0; --o: 4">
			<div class="content" style="--j: 7">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 0; --y: 0; --o: 3">
			<div class="content" style="--j: 8">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 1; --y: 0; --o: 2">
			<div class="content" style="--j: 9">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
		<div class="card" style="--x: 2; --y: 0; --o: 1">
			<div class="content" style="--j: 10">
				<h2>Card 03</h2>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia saepe iste quae optio
					reprehenderit provident autem
					nulla doloremque quidem et aliquam in, consectetur aspernatur.
				</p>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-outline-warning classShow mt-3">Show Classes</button>
</div>

@section CustomScripts
{
<script src="~/JS/teacherDashboard.js" asp-append-version="true"></script>
}